@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Análisis de plataformas para la implementación de una solución de software.</h1>
    <p>
        Jimmy Leonardo Sanchez Perilla
    </p>
    <p>
        John Sergio Rodriguez Sierra
    </p>
    <p>
        Jeirsiniho Gonzalez Patiño
    </p>
    <p>
        Edison Hernandez Balanta
    </p>
    <p>
        Miguel Angel Estremor Herrera
    </p>
</div>
